---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_43","initial_products":["transactions"]}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-27aff46a-1a0b-4f8f-8449-756561f965ce",
          "request_id": "wOjVMMZoZJ8BikY"
        }
  recorded_at: Wed, 11 Aug 2021 19:24:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-27aff46a-1a0b-4f8f-8449-756561f965ce"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-9d52279a-09a2-49fb-b80e-81b34b000323",
          "item_id": "EDZZa8XqeQhPPLy3oeE5FaNmZrv7e6C4Pj5VE",
          "request_id": "dv89hR7eYqk6iGH"
        }
  recorded_at: Wed, 11 Aug 2021 19:24:56 GMT
recorded_with: VCR 6.0.0
