---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"client_name":"turbochardo''s app","language":"en","country_codes":["CA"],"user":{"client_user_id":"41"},"products":["auth","transactions"]}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2021-08-05T23:27:41Z",
          "link_token": "link-sandbox-b6bd6528-8269-450b-871d-b06dc85ca782",
          "request_id": "bhPHl00UFQXpObr"
        }
  recorded_at: Thu, 05 Aug 2021 19:27:40 GMT
recorded_with: VCR 6.0.0
