---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/link/token/create
    body:
      encoding: UTF-8
      string: '{"client_name":"turbochardo''s app","language":"en","country_codes":["CA"],"user":{"client_user_id":"1"},"products":["auth","transactions"]}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "expiration": "2021-08-11T23:24:54Z",
          "link_token": "link-sandbox-b528e746-476b-457a-b51e-a39e77ecfbce",
          "request_id": "61OMHwcY1LzMWyx"
        }
  recorded_at: Wed, 11 Aug 2021 19:24:54 GMT
recorded_with: VCR 6.0.0
