---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_43","initial_products":["transactions"]}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-918eae60-02a1-4b6f-a4c2-3bac8f064c1b",
          "request_id": "viMRWv4XayAMQ5k"
        }
  recorded_at: Wed, 11 Aug 2021 19:24:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-918eae60-02a1-4b6f-a4c2-3bac8f064c1b"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-50866a3e-3e7e-4914-a8d2-341b9d43538a",
          "item_id": "gyn7ZWbRjaC1XMDl59w3FGp9yP8j6DUEQl7rr",
          "request_id": "DNJIFMJP9RsFb3l"
        }
  recorded_at: Wed, 11 Aug 2021 19:24:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-50866a3e-3e7e-4914-a8d2-341b9d43538a"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "Gl9dBDQrLxfkD1RyL7emf3dME1vGMauWr4dzz",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "CAD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "nklA1n5qLQFBn9rNlkboHPwe5LgXejF8pB4L1",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "CAD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
- request:
    method: post
    uri: https://sandbox.plaid.com/transactions/get
    body:
      encoding: UTF-8
      string: '{"options":{"count":100,"offset":0},"access_token":"access-sandbox-50866a3e-3e7e-4914-a8d2-341b9d43538a","start_date":"2021-07-12","end_date":"2021-08-11"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              [...]
[...]
