---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_43","initial_products":["transactions"]}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-15f56b09-4464-4148-b70b-1386f1abc9c8",
          "request_id": "JJTKfcWB37pFvM6"
        }
  recorded_at: Wed, 11 Aug 2021 19:24:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-15f56b09-4464-4148-b70b-1386f1abc9c8"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-5341a052-9eb6-4bad-add6-eba1e37930dd",
          "item_id": "3pmQGyEzNjtmQ15WgJ4KFJglKWqzyBfZEpgj4",
          "request_id": "bJrR3vJz3uUbCtZ"
        }
  recorded_at: Wed, 11 Aug 2021 19:24:55 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-5341a052-9eb6-4bad-add6-eba1e37930dd"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID CLIENT ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "N5WA7oZm9zcKqz9mQlP1Ckwyw4kV9LUraEl3V",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "CAD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "P5GmQ819w3cJ736849MKuvgNgPvLeWuwjGx1j",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "CAD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
[...]
